.mob-menu{display: block;}
.mob-menu-bg{width: 100%; height: 100vh; top: 0px; position: fixed; z-index: 7000; background-color: #fff; opacity: 0.6; display: none;}
.mob-menu-show{width: 250px; background-color: #333; color: #fff; position: absolute; top: 0px; left: 0px; z-index: 8888; min-height: 100vh;}
.mob-menu-items{padding: 40px 0px; box-sizing: border-box}
.mob-menu-item{display: block;}
.mob-menu-item a{text-decoration: none; display:  block; padding: 5px 30px; color: #fff;}
.mob-menu-item a:hover{background-color: #fff; color: #222}
.mob-menu-close-bttn{width: 40px; height: 40px; background-color: #000; color: #fff; line-height: 40px; text-align: center; position: absolute; top: 0px; right: 0px; text-decoration: none;}