@media screen and (max-width: 3840px) {

}


@media screen and (max-width: 1680px) {



}


@media screen and (max-width: 1280px) {




}


@media screen and (max-width: 1024px){




}


@media screen and (max-width: 640px){



}


@media screen and (max-width: 480px){

    .bnnrsx-wrapper .fix,
    #bnnr-box.fix{width: 100%}

}


@media screen and (max-width: 370px){



}