.bnnrsx{overflow: auto; padding-bottom: 20px; border-top: 1px solid #dedede; padding-top: 20px}
.bnnrsx-item{float: left; width: 33.33%; box-sizing: border-box; padding: 0px; position: relative}
.bnnrsx-item img{display: block; width: 100%}
.bnnrsx-wrapper .swiper-pagination{position: relative; padding: 10px; bottom: 0px}
.bnnrsx-wrapper .swiper-pagination-bullet{margin: 5px; width: 10px; height: 10px}
.bnnrsx-wrapper{border-top: 1px solid #dedede; padding-top: 25px}


.bnnrsx-item1 .bnnrx-img{position: relative; background-color: red}
.bnnrsx-item1 .bnnrx-info{position: absolute; top: 30px; right: 0px; text-align: center; width: 100%; box-sizing: border-box;}
.bnnrsx-item1 .bnnrx-info-title a{
    color: #555; font-size: 23pt; text-transform: uppercase; font-weight: 100;
    display: inline-block; text-align: right; text-decoration: none;
}
.bnnrsx-item1 .bnnrx-info-title a:hover{text-decoration: underline}
.bnnrsx-item1 .bttn-dec{display: none}


.bnnrsx-item2 .bnnrx-info{position: absolute; bottom: 20px; width: 100%; box-sizing: border-box;}
.bnnrsx-item2 .bnnrx-info-title{text-align: center; box-sizing: border-box}
.bnnrsx-item2 .bnnrx-info-title a{
    text-decoration: none; color: #555; font-size: 23pt; text-transform: uppercase; font-weight: 100; box-sizing: border-box;
    display: inline-block; text-align: center; width: auto; padding: 0px 50px;
}
.bnnrsx-item2 .bnnrx-info-title a:hover{text-decoration: underline}
.bnnrsx-item2 .bttn-dec{display: none}



.bnnrsx-item3 .bnnrx-info{position: absolute; top: 40px; right: 50px; text-align: left; box-sizing: border-box;}
.bnnrsx-item3 .bnnrx-info-title a{
    text-decoration: none; color: #fff; font-size: 23pt; text-transform: uppercase; font-weight: 100;
    display: inline-block; text-align: right; border-bottom: 0px solid #333;
}
.bnnrsx-item3 .bnnrx-info-title a:hover{text-decoration: underline;}
.bnnrsx-item3 .bttn-dec{right: 0px; top: 100px; position: absolute;}



.bnnrsx-item4 .bnnrx-info{position: absolute; top: 40px; width: 100%; padding-right: 0px; box-sizing: border-box;}
.bnnrsx-item4 .bnnrx-info-title{text-align: center; box-sizing: border-box}
.bnnrsx-item4 .bnnrx-info-title a{
    text-decoration: none; color: #555; font-size: 23pt; text-transform: uppercase; font-weight: 100; box-sizing: border-box;
    display: inline-block; text-align: center;
}
.bnnrsx-item4 .bnnrx-info-title a:hover{text-decoration: underline}
.bnnrsx-item4 .bttn-dec{display: none}



.bnnrsx-item6 .bnnrx-info{position: absolute; top: 40px; left: 40px; text-align: left; box-sizing: border-box;}
.bnnrsx-item6 .bnnrx-info-title a{
    text-decoration: none; color: #333; width: 60%; font-size: 25pt; text-transform: uppercase; font-weight: 100;
    display: inline-block; border-bottom: 0px solid #333; text-align: left;
}
.bnnrsx-item6 .bnnrx-info-title a:hover{text-decoration: underline}
.bnnrsx-item6 .bttn-dec{ position: relative; border: 1px solid #333; background-color: #00a65a; display: none}

