#footer-middle-box{overflow: auto; padding: 60px 0px; box-sizing: border-box}
#footer-project-info,
#footer-link-items{float: left}
#footer-project-info{width: 30%; box-sizing: border-box; padding-right: 30px}
#footer-link-items{text-align: left; width: 70%}

.footer-link-item{display: inline-block; vertical-align: top; box-sizing: border-box; padding-right: 15px; width: 22%}
.footer-link-item li{display: block; margin-bottom: 10px}
.footer-link-item li a{color: #787878; text-decoration: none; font-weight: bold; font-size: 12pt}
.footer-link-item b{margin-bottom: 15px; display: block;}
.footer-link-item b a{color: #fff; text-transform: uppercase; font-size: 14pt}
.footer-link-item a:hover{text-decoration: underline}
