.widget-catalog-items,
.widget-catalog-bnnr{float: left; position: relative}
.widget-catalog-bnnr img{display: block; width: 100%}

.widget-catalog-item-about{display: table; width: 100%;}
.widget-catalog-item-about .widget-catalog-item-txt{
    display: table-cell; vertical-align: middle; width: 100%; text-align: center;
}

.widget-catalog-item-txt .widget-catalog-more{padding-top: 10px}

.widget-catalog-item-txt .widget-catalog-more a{
    background-color: #005fbb; text-decoration: none; display: inline-block; display: inline-block;
    padding: 10px 30px; font-size: 16pt; color: #fff; text-transform: uppercase;
    -webkit-border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
}

.widget-catalog-items{width: 66.66%; overflow: auto; background-color: dodgerblue}
.widget-catalog-item{width: 50%; float: left; position: relative; overflow: hidden}
.widget-catalog-item-title{
    position: absolute; display: inline-block; top: 0px; left: 0px; text-decoration: none;
    box-sizing: border-box; padding: 0px 30px; height: 50px; line-height: 50px; color: #fff;
}
.widget-catalog-item-title b{display: block; font-size: 18pt; text-align: center;}
.widget-catalog-item-title i{color: #fff; display: none; text-align: center; font-style: normal}

.widget-catalog-item-active .widget-catalog-item-title{
    display: table; text-align: center; cursor: pointer; width: 150px; height: 150px; box-sizing: border-box;
    margin-left: 15px; margin-top: 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;

    -ms-transform: rotate(-360deg); /* IE 9 */
    -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
    transform: rotate(-360deg);

}
.widget-catalog-item-active .widget-catalog-item-title span{display: table-cell; vertical-align: middle}
.widget-catalog-item-active .widget-catalog-item-title i{
    display: inline-block; text-decoration: none; height: auto;
    font-size: 12pt; padding: 0px; margin: 0px;
}
.widget-catalog-item-active .widget-catalog-item-title b{
    padding: 0px; margin: 0px; font-size: 30px; height: auto; margin-bottom: -10px;
}

.widget-catalog-item-img img{display: block; width: 100%}
.widget-catalog-bnnr{width: 33.33%; background-color: #ffe44a; position: relative}
.widget-catalog-bnnr-more a{
    display: block; width: 100px; height: 100px; background-color: #ffdd2d; text-align: center; position: absolute;
    text-decoration: none; color: #644323; margin: 0px auto; z-index: 1; bottom: 30px; font-size: 60pt; left: 50%; margin-left: -50px;
    line-height: 90px; box-sizing: border-box; padding-left: 5px; font-weight: normal;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}
.widget-catalog-bnnr-more a:hover{background-color: #fff}

.widget-catalog-bnnr-txt{position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1; padding-top: 50px; color: #644323}
.widget-catalog-bnnr-txt b{font-size: 70pt; display:  block; text-align: center; line-height: 100px}
.widget-catalog-bnnr-txt i{
    font-size: 16pt; display:  block; text-align: center; font-style: normal; margin-bottom: 20px; text-transform: uppercase;
}
.widget-catalog-bnnr-txt span{font-size: 40pt; display:  block; text-align: center; padding-top: 10px}

.widget-catalog-item-txt{
    box-sizing: border-box; padding: 30px; text-align: center; color: #fff; font-size: 30pt;
}

.catBgColor1{background-color: #5eb955}
.catBgColor2{background-color: #ff0d4c}
.catBgColor3{background-color: #4182c5}

.cat-style343 .widget-catalog-item-title{background-color: #009846}
.cat-style344 .widget-catalog-item-title{background-color: #ff0d4c}
.cat-style345 .widget-catalog-item-title{background-color: #0071da}