@media screen and (max-width: 3840px) {

}

/* Планшеты */
@media screen and (max-width: 1680px) {

    .fix{width: 1200px}

}


/* Планшеты */
@media screen and (max-width: 1350px) {

    .fix{width: 900px}

    .item-mob-menu-bttn{display: inline-block}

    .mainMenu{display: none}

    #cap-box .fix{top: 0px}

    .main-logo{width: 150px; top: 5px}

    .main-media-info-box h2{font-size: 30pt;  line-height: 36pt; font-weight: bold}

}


/* Планшеты */
@media screen and (max-width: 1024px){

    .fix{width: 600px}

    .search-box{display: block; left: 0px; width: 100%; box-sizing: border-box;}
    .pricelist-subitem-title,
    .pricelist-subitem-notice,
    .pricelist-subitem-price{width: 100%; position: relative; right: auto; padding-right: 40px}

    .news-box-item{width: 45%}

    .content-navigation-v .content-menu-wrapper{width: 100%}
    .content-navigation-v .content-box-wrapper{width: 100%; padding-left: 0px; overflow: visible}
    .good-tbl-tr td{font-size: 10pt; line-height: 14pt;}
    .good-tbl-cap-add img{max-width: inherit; width: 20px}
    .good-tbl-cap{font-size: 10pt; line-height: 14pt;}

    .contact-place-item:nth-child(1),
    .contact-place-item{width: 100%; padding: 0px}

    .footer-left,
    .footer-right{width: 100%}
    .footer-left{margin-bottom: 30px}

    .aaa-box a.aaa-menu-item-name span{display: none}
    .aaa-box a.aaa-menu-item-name{background-size: 26px; background-position: center; padding: 0px; width: 43px;}


    .cat-menu-box{width: 100%; padding-right: 0px; margin-bottom: 30px}
    .good-tbl-cap{font-size: 9pt}
    .good-tbl-tr td{font-size: 9pt}

    .main-media-info-box{height: 600px; margin-top: -600px}
    .icons-box-wrapper{display: none !important;}

    .aaa-box a.aaa-menu-item-name{display: none}

}

/* Планшеты */
@media screen and (max-width: 640px){

    .fix{width: 400px}

    .news-box-item{width: 300px}

    .good-tbl-tr td{font-size: 8pt; line-height: 11pt; padding: 7px}
    .good-tbl-cap{font-size: 8pt; line-height: 11pt;}
    .good-tbl-cap td{padding: 7px;}

    .content-navigation-h li.content-menu-item{width: 100%}
    .form-items{width: 100%}


    .good-tbl-cap{font-size: 7pt}
    .good-tbl-tr td{font-size: 9pt}
    .good-info-i-box,
    .good-img{display: none}

    .good-tbl-cap td:first-child{display: none}
    .good-title{max-width: 180px; overflow: hidden}
    .good-tbl-cap-delete img,
    .good-tbl-cap-add img{width: 17px}

    .goods-list-box{overflow: scroll}

    .goods-detals-box-html-content{max-width: 75%}

    .main-media-info-box li.main-media-viber a{width: 100%;}



}

/* Планшеты */
@media screen and (max-width: 480px){

    .fix{width: 100%; box-sizing: border-box; padding: 0px 10px}

    .news-box-item{width: 100%}

    .main-logo{left: 10px}
    .aaa-box-wrapper{right: 10px}

    .main-media-info-box h2{font-size: 20pt; line-height: 24pt;}
    .main-media-info-box li{display: block; padding: 0px}
    .main-media-info-box li a{width: 100%; background-image: none !important; padding: 5px !important;}
    .news-box-items{padding: 10px}
    .news-box-item{margin: 0px; margin-bottom: 10px}
    .about-box{padding: 10px}
    .about-box p{text-align: center}

    .info-box{font-size: 9pt; text-align: center}
    .balans-box, .basket-box{margin-left: 5px}
    .cat-menu-item{padding: 7px 12px}

    .cat-menu-item-level0{font-size: 10pt; font-weight: bold}
    .cat-menu-item-level1{font-size: 9pt; font-weight: 400}

    .content-navigation-h .content-menu-item a{font-size: 10pt; font-weight: bold}

    .sales-box ul li{font-size: 10pt}
    .sales-box ul{margin-bottom: 0px}
    .sales-box h2{font-size: 11pt}

    .profile-menu{width: 100%}
    .profile-content{padding-left: 0px; width: 100%; overflow: scroll}

    .stock-table{font-size: 9pt; line-height: 11pt}

    .cat-title-box{padding: 10px; text-align: center}
    .cal-box{text-align: right}
    .cal-box-item{display: block; width: 70%; text-align: right; margin: 0px auto}
    .cal-box-item *{display: inline-block}
    .cal-box-item input{width: calc(100% - 30px)}







}


/* Планшеты */
@media screen and (max-width: 370px){









}