html,body{wheight:100%; width: 100%;}
*{margin:0px;padding:0px;outline:none;}
img{border: 0px}
table{border-collapse:collapse;}
table td{border-collapse:collapse;}
a{color: #d8272f}

.clear-both{clear:both}

.fix{margin: 0px auto; width: 1200px; position: relative; box-sizing: border-box;}
.FNTC{font-family: Calibri, tahoma, arial;}
.FNTC{font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;}




#cap-box{
    display: block; height: 100px; padding-top: 10px;
    -webkit-box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.15);
}

.body-content-wrapper{min-height: 500px}


.body-box{background-color: #f1f1f1; padding-bottom: 40px}




.popup-box-wrapper{
    position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh; z-index: 5000; background-color: rgba(0,0,0,0.2);
    text-align: center; display: none;
}
.popup-box{width: 100%; height: 100vh; display: table; position: relative}
.popup-box-html{display: table-cell; position: relative; vertical-align: middle; text-align: center}
.popup-box-html-content{padding: 30px; max-width: 500px; background-color: #fff; display: inline-block; position: relative;}
.popup-box-close{position: absolute; right: -30px; top: -30px; color: #fff; font-weight: bold; font-size: 20pt; cursor: pointer}






.goods-detals-box-wrapper{
    position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh; z-index: 5000; background-color: rgba(0,0,0,0.2); text-align: center;
    display: none;
}
.goods-detals-box{width: 100%; height: 100vh; display: table; position: relative}
.goods-detals-box-html{display: table-cell; position: relative; vertical-align: middle; text-align: center}
.goods-detals-box-html-content{padding: 30px; max-width: 500px; background-color: #fff; display: inline-block; position: relative;}
.goods-detals-box-close{position: absolute; right: -30px; top: -30px; color: #fff; font-weight: bold; font-size: 20pt; cursor: pointer}
.goods-detals-add{text-align: center}
.goods-detals-add a{display: inline-block; padding: 10px 20px; font-size: 11pt; background-color: #0d6aad; color: #fff; text-decoration: none}
.goods-detals-add a:hover,
.goods-detals-add a:focus,
.goods-detals-add a:active{background-color: #111; color: #fff; text-decoration: none}

.main-logo{position: absolute; left: 0px; z-index: 1200; background-color: #fff; width: 170px; top: 0px; background-position: center; overflow: hidden; background-position: 0px 5px}
.main-logo img{display: block; max-width: 100%}

.contacts-box{display: none}

.goods-detals-title{font-weight: bold; font-size: 18pt; line-height: 24pt; margin-bottom: 10px; }
.goods-detals-ref{font-style: italic; font-size: 11pt; color: #b5b5b5; margin-bottom: 20px}
.goods-detals-price{font-weight: normal; font-size: 18pt; margin-bottom: 10px; color: darkred}
.goods-detals-price-count-box{text-align: center;}
.goods-detals-price-count-box li{display: inline-block; vertical-align: middle;}
.goods-detals-price-count-box li img{display: block; width: 30px;}
.goods-detals-img{margin-bottom: 20px}
.goods-detals-img img{display: block; max-width: 80%; margin: 0px auto}






.info-box{padding: 15px 0px; display: block; text-align: right; font-size: 11pt; color: #333}

.sales-info{text-align: center; border: 2px solid darkred; padding: 10px; margin-bottom: 10px; margin-top: 20px}

.good-title{position: relative}
.class-no, .class-no *{color: #b5b5b5}

.good-item{position: relative}
.good-img{width: 70px}
.good-img img{
    display: block; width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.good-list-filters{text-align: right; display: block}
.good-list-filters ul{display: inline-block; margin-left: 40px}

.good-list-filters ul li{display: inline-block;}
.good-list-filters ul li a{display: block; background-color: #f7f7f7; padding: 5px 20px; color: #222}
.good-list-filters ul li a:hover,
.good-list-filters ul li a:active{background-color: #0d6aad; color: #fff; text-decoration: none}

.good-list-filters ul li.good-list-filters-item-active a{background-color: #0d6aad; color: #fff; text-decoration: none}

.good-info-box{
    position: absolute; background-color: #fff; border: 1px solid #dedede; padding: 7px 10px; box-sizing: border-box; bottom: 30px;
    width: 280px; overflow: auto; font-size: 9pt; line-height: 14pt; display: none; z-index: 10000;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.45);
}
.good-info-box img{width: 80px; float: left; margin: 10px; margin-bottom: 1px; margin-left: 0px; margin-top: 2px; display: block}

.good-info-i-box{width: 30px}
.good-info-i{position: relative}
.good-info-i span img{display: block; width: 20px}

.good-action{
    width: 20px; height: 20px; line-height: 20px; display: inline-block; margin-left: 5px; vertical-align: middle;
    background-image: url("../../img/icons/discount.svg"); background-size: 20px;
}

.price-change-1 .item-price{
    padding-right: 0px; background-repeat: no-repeat; background-position: center right; height: 30px; line-height: 30px;
    background-image: url("../../img/icons/price/down-arrow.svg"); background-size: 15px;
}
.price-change1 .item-price{
    padding-right: 0px; background-repeat: no-repeat; background-position: center right; height: 30px; line-height: 30px;
    background-image: url("../../img/icons/price/up-arrow.svg"); background-size: 15px;
}

.currency-box{display: inline-block; border-bottom: 3px solid #00a7d0; padding-bottom: 7px}
.sale-box,
.balans-box,
.basket-box{display: inline-block; border-bottom: 3px solid #00a7d0; padding-bottom: 7px; margin-left: 20px; cursor: pointer}
.basket-box.scroll-basket{
    display: block; position: fixed; z-index: 1001; background-color: #fff; padding: 15px; top: 30px; right: 30px; border-bottom: 0px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
}




.flash-mssg-box{position: fixed; top: 60px; width: 100%; text-align: center; display: none; z-index: 14000}
.flash-mssg{
    color: #fff; font-size: 15pt;
    background-color: #00a65a; padding: 30px; display: inline-block;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.flash-mssg a{color: #fff; text-decoration: underline}
.flash-mssg a:hover,
.flash-mssg a:focus,
.flash-mssg a:active{text-decoration: none; color: #fff}

/*
NEWS BOX
*/

.news-box-items{text-align: center}
.news-box-item {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.news-box-wrapper{
    padding-top: 30px;
    background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 150px);
    background: linear-gradient(to bottom, #fff 0, #f6f6f6 150px);
}
.news-box-wrapper h2{margin-top: 0px; text-align: center; font-size: 30pt; padding: 10px; text-transform: uppercase; color: #333; font-weight: 100}
.news-box-item-info a{font-size: 14pt; line-height: 16pt; display: block; margin-bottom: 10px; text-align: left; color: #222}
.news-box-item-info span{font-size: 11pt; display: block; margin-bottom: 0px; text-align: left; color: #b5b5b5}
.news-box-item-info{padding: 20px}
.news-box-item-img img{display: block; width: 100%}
.news-box-more{text-align: center; padding: 30px}
.news-box-more a{
    display: inline-block; font-size: 14pt; line-height: 30px; color: #111; background-image: url("../img/icons/plus-black.png"); padding-left: 40px;
    background-size: 30px; height: 30px; background-repeat: no-repeat; background-position: left;
}
.news-box-more a:hover{color: #111}



/*
NEWS PAGE
*/

.news-list-items{text-align: center}
.news-list-item{
    padding: 40px 0px; border-bottom: 1px solid #dedede; max-width: 700px; display: block; margin: 0px auto;
    text-align: left;
}
.news-list-item-title a{font-size: 14pt; color: #222}
.news-list-item-title a:hover,
.news-list-item-title a:focus,
.news-list-item-title a:active{color: #00a7d0; text-decoration: none}
.news-list-item-notice{}
.news-list-item-date{font-size: 10pt; color: #b5b5b5; margin-bottom: 15px}
.news-element-date{font-size: 10pt; color: #b5b5b5; margin-bottom: 5px}
.news-list-item-img{margin-bottom: 10px}
.news-list-item-img img{display: block; width: 100%}







/*
ABOUT BOX
*/

.about-box{
    font-size: 14pt; line-height: 20pt; font-weight: 100; text-align: center; text-align: justify; padding: 30px 0px;
}

.about-box h1{
    font-size: 28pt; font-weight: 100; text-align: center; margin-bottom: 20px;
}





/*
FOOTER BOX
*/
.footer-wrapper{padding: 40px 0px; border-top: 1px solid #dedede; background-color: #ededed}
.footer-left, .footer-right{display: inline-block; vertical-align: top; box-sizing: border-box}
.footer-left{width: 40%; padding-right: 30px}
.footer-right{width: 59%;}
.footer-left h2{margin-bottom: 20px; margin-top: 0px; font-size: 18pt; line-height: 26pt}
.footer-left p{font-size: 11pt;}
.footer-left .copy{font-size: 11pt;}
.footer-right ul{margin-bottom: 30px; margin-top: 0px}
.footer-right li{display: block; margin-bottom: 10px; font-size: 11pt; line-height: 16pt}
.footer-contacts-more a{color: #000; text-decoration: none; display: inline-block; padding: 10px 20px; border: 1px solid #dedede}
.footer-contacts-more a:hover{text-decoration: none; border: 1px solid #888; color: #000}
.footer-right{padding-top: 10px}
.footer-left .smm-wrapper{margin-bottom: 30px}


/*
SMM BOX
*/
.smm-wrapper{text-align: left}
.smm-wrapper .smm-item{
    background-image: url('../../img/icons/smm.png'); background-size: 225px; background-color: #fff;
    width: 40px; height: 40px; display: inline-block; margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2); cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.smm-wrapper .smm-item:hover{border: 1px solid rgba(0, 0, 0, 0.5);}
.smm-wrapper .smm-items .smm-item-f{background-position: -5px -42px}
.smm-wrapper .smm-items .smm-item-i{background-position: -41px -42px}
.smm-wrapper .smm-items .smm-item-g{background-position: -112px -42px}
.smm-wrapper .smm-items .smm-item-r{background-position: -149px -42px}
.smm-wrapper .smm-items .smm-item-v{background-position: -78px -42px}
.smm-wrapper .smm-items .smm-item-t{background-position: -182px -42px}







/*
CONTENT
*/

.comTitle{padding-bottom: 20px;}
.comTitle h1{font: 34pt/36pt "new roman time"; text-align: left}

.breadcrumbs-wrapper{text-align: left}
.breadcrumbs-wrapper li{display: inline-table; font: bold 10pt/14pt calibri, arial; color: #b5b5b5}
.breadcrumbs-wrapper li a{display: block; color: #d8272f; font: 10pt/14pt arial; text-decoration: none; margin: 5px 5px; color: #777}
.breadcrumbs-wrapper li a:hover{color: #d8272f}

.content-navigation-h .content-menu{margin-bottom: 30px}
.content-navigation-h .content-menu ul{text-align: center}
.content-navigation-h .content-menu-item a{
    font-size: 14pt; color: #555; text-decoration: none; background-color: #f7f7f7; padding: 10px 25px; font-weight: normal;
}
.content-navigation-h .content-menu-item > a:hover{background-color: #f1f1f1; color: #333}
.content-navigation-h .content-menu-item-active > a,
.content-navigation-h .content-menu-item-active > a:hover{color: #fff; background-color: #00a7d0}
.content-navigation-h li.content-menu-item{display: inline-block; margin: 1px}
.content-navigation-h .content-menu-level1 a{display: block;}
.content-navigation-h .content-menu-level2{padding-left: 15px}
.content-navigation-h .content-menu-level3{padding-left: 15px}
.content-navigation-h .content-menu-level4{padding-left: 15px}
.content-navigation-h .content-menu-level5{padding-left: 15px}

.content-navigation-v .content-menu{
    background-color: #f1f1f1; box-sizing: border-box; padding: 0px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.content-navigation-v .content-menu-item a{
    font-size: 12pt; line-height: 15pt; color: #333; text-decoration: none; border-bottom: 1px solid #fff;
    box-sizing: border-box; padding:  5px 10px; display: block;
}
.content-menu-level1{border-top: 1px solid #fff;}

.content-navigation-v .content-menu-item-active > a{color: #fff; background-color: #00a7d0 !important;}
.content-navigation-v .content-menu-item-active > a:hover{background-color: #ededed}
.content-navigation-v li{display: block;}
.content-navigation-v .content-menu-level1 > a{display: block;}
.content-navigation-v .content-menu-level2 > a{background-color: #b5b5b5}
.content-navigation-v .content-menu-level3 > a{background-color: #333}
.content-navigation-v .content-menu-level4{padding-left: 0px}
.content-navigation-v .content-menu-level5{padding-left: 15px}

.content-navigation-v .content-menu-level1 .content-menu-item > a{
    padding: 10px 20px 10px 20px; font-weight: normal; background-color: #f7f7f7;
    background-image: url("../img/icons/menu-plus.png"); background-size: 25pt; background-repeat: no-repeat;
    background-position: right center;
}
.content-navigation-v .content-menu-level2 .content-menu-item > a{padding: 6px 45px 6px 35px; font-weight: normal; background-color: #777; color: #fff; border-bottom: 1px solid #888}
.content-navigation-v .content-menu-level3 .content-menu-item > a{padding: 5px 45px 5px 45px; font-weight: normal; background-color: #555; color: #fff; border-bottom: 1px solid #222}

.content-navigation-v .content-menu-level1 .content-menu-item > a:hover,
.content-navigation-v .content-menu-level2 .content-menu-item > a:hover,
.content-navigation-v .content-menu-level3 .content-menu-item > a:hover{background-color: #00a7d0; color: #fff}

.content-navigation-v .content-menu-level2 .content-menu-item > a:hover{background-color: #555}
.content-navigation-v .content-menu-level3 .content-menu-item > a:hover{background-color: #222}

.content-navigation-v .content-menu-wrapper,
.content-navigation-v .content-box-wrapper{float: left; min-height: 100px;}
.content-navigation-v .content-menu-wrapper{width: 240px;}
.content-navigation-v .content-box-wrapper{width: calc(100% - 240px); box-sizing: border-box; padding-left: 30px}

.element-content-img{float: left; width: 30%; margin-right: 30px; margin-bottom: 20px}
.element-content-img img{display: block; max-width: 100%;}




.cat-menu-box{float: left; width: 240px; padding-right: 30px; box-sizing: border-box}
.cat-menu{}
.cat-menu-item{padding: 10px 20px; margin-bottom: 1px}
.cat-menu-item-level0{background-color: #f7f7f7}
.cat-menu-item-level0 a{color: #222}
.cat-menu-item-level1{padding-left: 20px; background-color: #ededed}
.cat-menu-item-level1 a{color: #111}
.cat-menu-item-level2{padding-left: 20px; background-color: #555}
.cat-menu-item-level2 a{color: #fff}
.cat-menu-item-level2 a:hover{color: #fff}
.cat-menu-item-level3{padding-left: 20px}



.content-box-wrapper-buh .big-list-red li{
    display: block; background-image: url("../../../img/icons/check-red.png");
    padding-left: 45px; background-size: 35px; min-height: 30px; margin-bottom: 15px; background-repeat: no-repeat; background-position: left 2px;
    margin-left: 0px; font-size: 16pt; line-height: 22pt;
}

.issetnavigation0.content-navigation-v .content-menu-wrapper{display: none}
.issetnavigation0.content-navigation-v .content-box-wrapper{width: 100%}

.content-menu-element-hidden{display: none}
.content-menu-element-show{display: block}

.content-box-wrapper{font-size: 10pt; line-height: 16pt}
.content-wrapper{overflow: auto; padding-bottom: 30px}

.content-box-content{font-size: 14pt; margin-bottom: 40px; line-height: 18pt; text-align: justify; background-color: #fff}
.content-box-content img{max-width: 100%}

.content-box-wrapper-x td,
.content-box-content-x td{padding: 15px; border: 1px solid #dedede; text-align: left; font-size: 12pt; vertical-align: top}
.content-box-content-x a{color: #d8272f; text-decoration: underline}
.content-box-content-x a:hover{text-decoration: none}

.content-title-img{
    height: 600px; width: 4000px; position: absolute; display: table; top: 50%; margin-top: -300px; background-color: red;
    left: 50%; margin-left: -2000px;
}
.content-title-img span{display: table-cell; text-align: center; vertical-align: middle; width: 100%; background-color: #b5b5b5;}
.content-title-img img{display: inline-block; margin: 0px auto; height: auto; position: relative; width: 100vw}

.content-title-box-wrapper{width: 100%; margin-bottom: 0px; background-color: #f7f7f7; margin-bottom: 30px}
.content-title-box{width: 100%; position: relative; z-index: 1; overflow: hidden}
.content-title-box h1{text-align: center; font-size: 46pt; font-weight: 100; color: #333; margin-bottom: 20px;}
.content-title-box i{
    text-align: center; font-size: 15pt; line-height: 24pt; font-weight: normal; color: #555; box-sizing: border-box;
    display: block; margin: 0% 20%;
}

.title-style1 .content-title-box{padding: 40px; padding-bottom: 30px}
.title-style1 .content-title-box h1{color: #333; font-size: 46pt; line-height: 46pt; font-weight: 100; margin: 0% 10%; margin-bottom: 0px;}
.title-style1 .content-title-box i{color: #333; line-height: 20pt; margin-top: 15px; font-size: 15pt; font-style: normal; color: #7B7B7B}
.title-style1 .content-title-box-info{border-bottom: 0px solid #dedede; padding-bottom: 0px}

.content-title-box-info-box{display: table-cell; vertical-align: middle; width: 100vw}
.content-title-box-info-box a{color: #fff; text-decoration: underline}
.content-title-box-info-box a:hover,
.content-title-box-info-box a:active,
.content-title-box-info-box a:focus{text-decoration: none; color: #fff}

.title-style1 .content-title-box-info-box a{color: #222}
.title-style1 .content-title-box-info-box a:hover{text-decoration: none}

.content-title-box-wrapper.title_style2{background-color: #f5f5f5;}
.title_style2{height: 200px; overflow: hidden;}
.title-style2 .content-title-box{height: 500px; margin-bottom: 20px}
.title-style2 .content-title-box-info{height: 300px; top: 50%; margin-top: -150px; position: absolute; width: 100%; display: table; z-index: 100;}
.title-style2 .content-title-box-info > div{display: table-cell; vertical-align: middle; width: 100%;}
.title-style2 .content-title-box h1{color: #fff; font-size: 46pt; line-height: 55pt; font-weight: 100; margin: 0% 10%; margin-bottom: 15px;}
.title-style2 .content-title-box i{line-height: 25pt; margin-bottom: 10px; font-size: 15pt; font-style: normal; color: #fff}

span.content-title-date{display: inline-block; padding: 5px 45px; font-size: 16pt; border: 0px solid #b5b5b5; color: #333; margin-top: 20px; color: #888  }

.content-title-date .event-old-date{color: #333}
.event-old-date i{margin-left: 0px; margin-top: 5px}
.content-title-box i{margin: 0px}
.content-title-date .event-old-date{color: #fff;}


.title-style3{margin-bottom: 10px}
.title-style3 .content-title-box-info{border-bottom: 1px solid #dedede; padding-bottom: 20px}
.title-style3 h1{text-align: left; color: #333; font-size: 30pt; border-bottom: 1px solid #dedede; padding-bottom: 20px}


.path-menu{margin-bottom: 20px}
.path-menu li{display: inline-block; color: #dedede}
.path-menu li a{display: block; padding: 5px 5px; font-size: 10pt; color: #b5b5b5}
.path-menu li a:hover{text-decoration: underline; color: #333}






/*
IB
*/

.ib-item-img img{display: block; max-width: 100%}
.ib-item-title{font-size: 24pt; line-height: 28pt; margin-bottom: 15px}
.ib-item-content{font-size: 14pt; line-height: 18pt; color: #555}
.ib-item{padding: 0px 0px; margin-bottom: 40px; overflow: auto}
.ib-item-img, .ib-item-info{float: left; width: 50%; box-sizing: border-box}
.ib-item ul{padding: 5px 0px; list-style-position: outside;}

.content-box-content li,
.ib-item li{
    display: list-item; margin-top: 10px; font-size: 14pt; line-height: 16pt;
    list-style-type: disc; color: #222; font-weight: normal; text-indent: 0px;
    list-style-position: outside; text-align: left;
    margin-left: 25px;
}
.content-box-content li > ul{margin-left: 25px; padding: 10px 0px}
.content-box-content li > ul li{font-style: italic}

.ib-item-txt-position3 .ib-item-img, .ib-item-txt-position3 .ib-item-info,
.ib-item-txt-position4 .ib-item-img, .ib-item-txt-position4 .ib-item-info{width: 100%}
.ib-item-txt-position1 .ib-item-info{padding-right: 40px;}
.ib-item-txt-position2 .ib-item-info{padding-left: 20px}
.ib-item-txt-position3 .ib-item-img{margin-bottom: 20px}
.ib-item-img .swiper-pagination{width: 100%; padding-top: 10px; box-sizing: border-box; position: relative; margin-bottom: -15px}
.ib-item-img .swiper-pagination-bullet{margin: 5px; width: 10px; height: 10px}

.ibtpl8{float: left; width: 50%; padding: 5px; box-sizing: border-box}
.ibtpl8 .ib-item-bnnr{}
.ibtpl8 .ib-item-bnnr img{display: block; width: 100%}

.txt-align-left{text-align: left}
.txt-align-right{text-align: right}
.txt-align-center{text-align: center}



.tpl-style1 .ib-item{
    background-image: url("../img/icons/info.png"); background-repeat: no-repeat; background-position: 20px 30px;
    border: 2px solid orange; padding: 30px; padding-left: 100px; box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



.ib-item-wrapper{overflow: auto;}
.ib-item-wrapper .swiper-pagination{width: 100%; position: relative; box-sizing: border-box; padding-top: 20px;}
.ib-item-wrapper .swiper-pagination-bullet{width: 12px; height: 12px; margin: 5px}

.ib-item-img img{display: block; max-width: 100%}
.ib-item-title{font-size: 24pt; line-height: 28pt; margin-bottom: 15px}
.ib-item-content{font-size: 14pt; line-height: 18pt; color: #555}
.ib-item{padding: 0px 0px; overflow: auto; position: relative}
.ib-item-img, .ib-item-info{float: left; width: 50%; box-sizing: border-box}
.ib-item-txt-position3 .ib-item-img, .ib-item-txt-position3 .ib-item-info,
.ib-item-txt-position4 .ib-item-img, .ib-item-txt-position4 .ib-item-info,
.ib-item-txt-position5 .ib-item-img, .ib-item-txt-position5 .ib-item-info{width: 100%}
.ib-item-txt-position5 .ib-item-info{position: absolute; top: 50%; margin-top: -150px; height: 300px; display: table; padding: 0px 4%; color: #fff}
.ib-item-txt-position5 .ib-item-info .ib-item-content{color: #fff}
.ib-item-info-box{display: table-cell; vertical-align: middle}



.ib-item-info{padding: 4%; box-sizing: border-box}
.Xib-item-txt-position1 .ib-item-info{padding-right: 40px}
.Xib-item-txt-position2 .ib-item-info{padding-left: 20px}
.Xib-item-txt-position3 .ib-item-img{margin-bottom: 20px}
.Xib-item-txt-position4 .ib-item-info{padding-bottom: 20px}
.ib-item-img .swiper-pagination{width: 100%; padding-top: 10px; box-sizing: border-box; position: relative; margin-bottom: -15px}
.ib-item-img .swiper-pagination-bullet{margin: 5px; width: 10px; height: 10px}

.ib-item a{color: #333; text-decoration: underline}
.ib-item a:hover{color: #333; text-decoration: none}

.ibtpl1{background-color: #f7f7f7; margin-bottom: 30px}
.ibtpl1 .ib-item{margin-bottom: 0px}

#ib2.ibtpl1{background-color: #fff}
#ib2 .ib-item-img img{width: 95%}

#ib66.ibtpl1{background-color: #fff}



.ibtpl6{margin-bottom: 30px; padding-bottom: 20px; border-bottom: 0px solid #dedede;}
.ibtpl6 .ib-item-content{overflow: visible;}
.ibtpl6 .ib-item-content{display: block;}
.ibtpl6 .ib-item-txt-position1 img{float: left; margin-right: 30px; margin-bottom: 30px; max-width: 50%}
.ibtpl6 .ib-item-txt-position2 img{float: right; margin-left: 30px; margin-bottom: 30px; max-width: 50%}
.ibtpl6 .ib-item{margin-bottom: 0px}
.ib-item-txt-position3 img{display: block; margin: 0px auto; margin-bottom: 20px; max-width: 100%}
.ib-item-txt-position3 iframe{margin: 0px auto; display: block}

.ib-more{margin-top: 15px}
.ib-more a{
    display: inline-block; padding: 10px 30px; background-color: #d8272f; color: #fff; font-size: 14pt; text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ib-more a:focus,
.ib-more a:active,
.ib-more a:hover{text-decoration: none; color: #fff; text-decoration: none; background-color: #d8272f}







/*
CONTACTS
*/

.balloonContentBody{padding-top: 10px; padding-bottom: 10px; display: block}
.balloonContentBody li{display: block}

.contact-place-items{width: 100%; margin-bottom: 20px; box-sizing: border-box; text-align: center}

.contact-place-item{vertical-align: top; display: inline-block; width: 25%; padding: 10px; text-align: left; box-sizing: border-box}
.contact-place-item:nth-child(1) {width: 50%}
.contact-place-item ul{vertical-align: top; background-color: #f7f7f7; padding: 30px; padding-bottom: 10px; border-top: 0px solid #ededed}
.contact-place-item li{display: block; margin-bottom: 10px;}
.contact-place-item-title{font-size: 14pt; margin-bottom: 10px; color: #222; display: block; margin-top: 0px}
.contact-place-item-title:hover{color: #222}
.contact-place-item-map{padding-top: 15px}
.contact-place-item-map a{font-size: 11pt; margin-bottom: 20px; color: #222; display: block; text-decoration: underline}
.contact-place-item-map a:hover{color: #222; text-decoration: none}
.contact-place-item h3{font-size: 14pt; color: #222; background-color: #00a7d0; color: #fff; text-align: center; padding: 10px; box-sizing: border-box}

.contact-place-all-list{text-align: center; margin-bottom: 30px}
.contact-place-all-list .contact-place-item{width: 350px; margin: 10px; text-align: left; margin-bottom: 10px}

#contact-place-pagination{position: relative; width: 100%; z-index: 100; height: 20px;}
#contact-place-pagination .swiper-pagination-bullet{margin: 5px; width: 10px; height: 10px}

.contact-element-box{overflow: auto}
.contact-element-l{float: left; width: 500px}
.contact-element-r{float: left; width: calc(100% - 500px); box-sizing: border-box; padding-left: 30px}





/*
FORMS
*/

.form-items{display: inline-block; min-width: 300px; width: 50%; box-sizing: border-box; padding: 30px; border: 1px solid #dedede;}
.form-item{margin-bottom: 20px; display: block; text-align: left}
.obratnaya-sviaz-form-wrapper{text-align: center; padding-bottom: 30px}
.form-item-podpis{font-size: 14pt; margin-bottom: 5px; display: block; text-align: left}
.form-item-input input{display: block; padding: 10pt 20px; border: 1px solid #dedede; width: 100%}
.form-item-textarea textarea{display: block; padding: 10pt 20px; border: 1px solid #dedede; width: 100%;}
.form-item-input{}
.form-bttn a{display: inline-block; padding: 10px 20px; background-color: #00a7d0; color: #fff; font-size: 14pt}
.form-bttn a:focus,
.form-bttn a:active,
.form-bttn a:hover{text-decoration: underline; color: #fff}

.fly-box-mssg{margin-top: 15px; font-size: 12pt; display: none; color: #d9272e}
.fly-box-mssg-success{color: #00a65a}

.box-mssg{
    margin-top: 15px; font-size: 16pt; color: #fff; display: none; background-color: #d9272e; padding: 10px 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.box-mssg-success{background-color: #00a65a}







/*
CATALOG
*/

.cat-title-box{
    background-color: #f7f7f7; box-sizing: border-box; padding: 20px 20px; padding-bottom: 22px; margin-bottom: 10px; padding-top: 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cat-title-box h1{margin: 0px; font-size: 20pt}


.catalog-start-elements{text-align: center; margin-bottom: 40px}
.catalog-start-element{display: inline-block; width: 200px; margin: 10px; border: 1px solid #dedede; padding: 10px; box-sizing: border-box; vertical-align: top}
.catalog-start-element img{display: block; max-width: 100%; margin-bottom: 10px; margin-top: 10px}
.catalog-start-element-title{display: block; min-height: 50px; color: #333; font-size: 11pt; line-height: 14pt}

.good-tbl{width: 100%}
.good-tbl-cap{
    font-size: 9pt; line-height: 11pt; background-color: #f7f7f7; margin-bottom: 10px;
}
.good-tbl-cap td{padding: 10px;}

.good-tbl-tr{background-color: #f7f7f7;}
.good-tbl-tr td{padding: 10px; font-size: 10pt; line-height: 14pt}
.good-tbl-tr:nth-child(2n) {background-color: #fff}

.good-tbl-tr-active:nth-child(2n),
.good-tbl-tr-active{background-color: #ededed;}

.good-tbl-cap-summ{width: 70px}
.good-tbl-cap-count{width: 70px; text-align: center}


.specifics-box-html-content input,
.goods-detals-box-html-content input,
.good-tbl-cap-count input{
    width: 30px; height: 30px; text-align: center; border: 1px solid #b5b5b5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.good-tbl-cap-add{width: 25px}
.good-tbl-cap-add img{width: 25px; max-width: inherit}
.good-tbl-cap-delete{width: 30px}
.good-tbl-cap-delete img{width: 30px; max-width: inherit}




.profile-content-wrapper{min-height: 500px; border: 1px solid #dedede; padding: 20px; margin-bottom: 40px; overflow: auto}
.profile-menu, .profile-content{float: left}
.profile-menu{width: 100%; text-align: center}
.profile-menu ul{border: 1px solid #ededed; padding: 7px; box-sizing: border-box}
.profile-menu li{display: inline-block; width: 200px}
.profile-menu li a{display: block; padding: 10px 20px; box-sizing: border-box; border-left: 5px solid #ededed; background-color: #f7f7f7; margin-bottom: 2px; color: #000}
.profile-menu li a:hover,
.profile-menu li a:active,
.profile-menu li a:focus{text-decoration: none; border-left: 5px solid #00a7d0}
.profile-content{width: 100%; padding-left: 20px; box-sizing: border-box}


.load-box{
    background-color: #fff; width: 100%; height: 100vh; position: fixed; top: 0px; left: 0px; z-index: 1200; display: none;
    background-image: url("../../../img/prdeloaders/1.gif"); background-position: center; background-repeat: no-repeat;
    opacity:0.4;
}


.icons-box-wrapper{padding: 20px 0px; position: relative; bottom: 0px; z-index: 300; display: block !important;}
.icons-box-items{text-align: center;}
.icons-box-item{display: inline-block; max-width: 300px; margin: 0px 20px; margin-top: 20px; vertical-align: top;}
.icons-box-item img{display: block; margin: 0px auto; width: 100px; margin-bottom: 15px}
.icons-box-item h3{font-size: 15pt; margin-top: 0px; color: #fff}








/* BASKET */

.basket-tbl{margin: 0px auto; margin-bottom: 30px}
.basket-tbl td{padding: 10px; font-size: 11pt; border: 1px solid #b5b5b5}

.basket-items{margin-bottom: 40px; padding-top: 40px; max-width: 800px; margin: 0px auto}
.basket-item{
    margin-bottom: 0px; overflow: auto; padding: 20px 40px; position: relative;
    background-color: #f7f7f7; margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.basket-items td{border: 1px solid #ededed; padding: 20px; font-size: 12pt}
.basket-item:nth-child(2n){background-color: #fff}
.basket-item:nth-child(2n) .basket-item-price{border: 1px solid #ededed}
.basket-item:nth-child(2n) .basket-item-nav input{background-color: #f1f1f1}
.basket-item-img{width: 110px; float: left;}
.basket-item-img img{display: block; width: 100%}
.basket-item-info{float: left; width: calc(100% - 360px); box-sizing: border-box; padding: 0px 10px; padding-bottom: 20px}
.basket-item-title{display: block; color: #222; font-size: 16pt; line-height: 18pt; text-decoration: none}
.basket-item-title span{display: block; color: #555; font-size: 12pt;}
.basket-item-price{
    float: left; width: 250px; box-sizing: border-box; padding: 20px;
    border: 1px solid #dedede; text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.basket-sum-price{font-size: 18pt}
.basket-price{font-size: 11pt}

.basket-item-cost{color: #e53d3d; text-align: center; margin-bottom: 7px;}
.basket-item-cost,
.basket-item-cost b{font-size: 12pt}

.basket-item-text{color: #777; font-size: 14pt}

.basket-item-nav{text-align: center;}
.basket-item-nav a{display: inline-block; width: 30px; text-align: center; color: #222; font-size: 18pt; text-decoration: none}
.basket-item-nav a:focus,
.basket-item-nav a:active{text-decoration: none}
.basket-item-nav a:hover{text-decoration: none; color: #e53d3d;}
.basket-item-nav input{
    width: 100%; background-color: #fff; border: 1px solid #ededed; height: 50px; box-sizing: border-box; width: 50px;
    color: #333; font-size: 12pt; text-align: center; margin: 0px auto; display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.basket-item-del{
    position: relative; text-align: center; background-color: red;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.basket-item-del a{
    display: block; font-size: 12pt; text-align: center; text-decoration: none; width: 30px; height: 30px; color: #fff; line-height: 30px;
}
.basket-item-del a:active,
.basket-item-del a:focus,
.basket-item-del a:hover{
    text-decoration: none; color: #fff;
}



.basket-item-cost-summ{position: relative}

.basket-item-cost-summ{
    font-size: 15pt; font-weight: normal;
}
.basket-res-items{
    overflow: auto; width: 600px; margin: 0px auto; background-color: #111; box-sizing: border-box;
    padding: 30px 20px 0px 20px; margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.basket-res-item{margin-bottom: 20px; padding-bottom: 20px; overflow: auto; border-bottom: 1px solid #000}
.basket-res-item-info,
.basket-res-item-count,
.basket-res-item-price-box{float: left}
.basket-res-item-price-box{text-align: center; width: 150px;}
.basket-res-item-price{color: #e53d3d;}
.basket-res-item-price-summ{padding-top: 10px; color: #555}
.basket-res-item-info{width: calc(100% - 150px)}
.basket-res-item-info a{display: block; color: #fff; margin-bottom: 10px}


.basket-main-res-summ{color: #fff; text-align: center}
.basket-main-summ-info{
    border: 0px solid #ededed; box-sizing: border-box; padding: 20px; text-align: center;
    color: #222; font-size: 18pt; margin-bottom: 20px;
}

.basket-main-summ-info b{color: red;}
.sale-txt{color: #fff;}
.sale-medium{color: #ffb922 !important;}
.sale-max{color: #e53d3d !important;}

.basket-bttns{text-align: center}
.basket-bttns a{
    display: inline-block; padding: 10px 50px; background-color: #e53d3d; margin: 0px 5px;
    color: #fff; font-size: 16pt; text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.basket-bttns a:active,
.basket-bttns a:focus,
.basket-bttns a:hover{text-decoration: none; background-color: #ffb922}


.profile-info-content ul{padding: 0px}
.profile-info-content li{display: block; padding: 5px 0px;}

.sales-box{text-align: center; padding-top: 20px}
.sales-box div{display: inline-block; border: 1px solid #dedede; padding: 5px;}
.sales-box h2{
    font-size: 12pt; text-align: center; margin-bottom: 5px; padding: 5px; margin-top: 0px;
    background-color: #f7f7f7;
}
.sales-box ul{display: inline-block; padding: 5px 20px}
.sales-box ul li{display: block; text-align: left; font-size: 12pt}



.preloader{background-image: url("../../img/preloaders/1.gif"); background-repeat: no-repeat; background-position: center; background-size: 2   0px}
.goods-list-box-preloader{height: 50px}


.catalog-sub-nav{text-align: right; font-size: 11pt; margin-bottom: 20px}
.catalog-sub-nav a{text-decoration: none; display: inline-block; border-bottom: 2px solid rgba(0,0,0,0); color: rgba(0,0,0,0.8)}
.catalog-sub-nav a:hover{text-decoration: none; border-bottom: 2px solid rgba(0,0,0,0.8);}


.gototop{
    position: fixed; display: block; bottom: 20px; right: 20px; background-color: #fff; width: 50px; height: 50px; z-index: 3000;
    display: none; background-image: url("../../img/icons/arrow-top.svg"); cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.informer-box{
    position: fixed; bottom: 100px; right: 20px; background-color: #c51133; z-index: 100; border-radius: 10px; padding: 15px;
    font-size: 11pt;font-style: italic; color: #fff; border: 3px solid #fff;

}


.cal-box{text-align: center}
.cal-box-item{display: inline-block; width: 150px;}
.cal-box-item input{width: 80%}


.ordeer-comment{font-size: 9pt; color: #b5b5b5}

/* Pagination for catalog list */
.pagination-box {
    padding: 15px 0px;
}
.pagination-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: transparent;
    border: 0px solid #333;
    border-radius: 2px;
}
.pagination-item-active {
    background-color: #b7303f;
    color: #fff;
}
.pagination-item:hover {
    background-color: #f7f7f7;
}
.pagination-item-active:hover {
    background-color: #b7303f;
}



/*.cap-box{
    height: 100px; width: 100%; position: fixed; top: 0px; z-index: 1000; display: block;
    border: 0px solid rgba(255, 255, 255, 0.3); background-color: #fff;
}




.cap-box-hide{background-color: transparent; border-bottom: 1px solid rgba(225, 225, 225, 0.5);}
.cap-box-show{background-color: #fff; top: 0px; height: 130px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 7px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 7px 6px -6px rgba(0,0,0,0.3);
    box-shadow: 1px 7px 6px -6px rgba(0,0,0,0.3);
}







.content-wrapper{background-color: #fff; padding: 0px 0px 10px 0px}*/



/*.fly-box-wrapper{
    position: fixed; width: 100%; min-height: 100vh; top: 0px; left: 0px; z-index: 1000; text-align: center;
    box-sizing: border-box; display: none;
}
.fly-box{
    width: 500px; min-height: 300px; background-color: #fff; display: inline-block; margin-top: 150px;
    box-sizing: border-box; padding: 30px 30px; position: relative; z-index: 90; position: relative;
}
.fly-box h2{
    font-size: 18pt; line-height: 24pt; background-color: #fff; padding: 20px; box-sizing: border-box; margin: 0px;
}
.fly-box-close{
    width: 40px; height: 40px; position: absolute; right: 0px; top: 0px; background-color: #111; display: block; z-index: 100;
    background-image: url("../../img/icons/close.png"); background-size: 50%; background-repeat: no-repeat; background-position: center;
}
.fly-box-form-el{margin-bottom: 10px}
.fly-box-form-podpis{text-align: left; display: block; font-size: 12pt}
.fly-box-form-inp input{box-sizing: border-box; width: 100%; padding: 10px; border: 1px solid #dedede}
.fly-box-form-textarea textarea{box-sizing: border-box; min-height: 200px; width: 100%; padding: 10px; border: 1px solid #dedede}
.fly-box-form-bttn{text-align: center}
.fly-box-form-bttn a{
    display: inline-block; padding: 10px 20px; color: #fff; background-color: #d9272e; font-size: 14pt; font-weight: bold;
    text-decoration: none;
}
.fly-box-form-bttn a:active,
.fly-box-form-bttn a:focus,
.fly-box-form-bttn a:hover{color: #fff; text-decoration: underline;}*/













/*










.main-logo{
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}






.footer-box-wrapper{font: 10pt/14pt arial;}
.footer-box-item{
    display: block; float: left; box-sizing: border-box; text-align: left; vertical-align: top;
    border-top: 0px solid #fff; padding-top: 30px;
}
.footer-box-item h2{font: 12pt/14pt arial; display: none; margin-left: 0px;}
.footer-box-item-c h2{margin-left: 20px;}
.footer-box-item-c{padding-left: 50px;}
.footer-box-item-a h2{font-weight: bold; display: block; margin-bottom: 15px; margin-top: 0px}
.footer-box-item-a,
.footer-box-item-b{padding-right: 30px}
.footer-box-item-b p,
.footer-box-item-c p{padding-bottom: 10px}
.footer-box-item a{color: #000}
.footer-box-item a:hover{text-decoration: none}
.footer-box-item-a{width: 40%}
.footer-box-item-b{width: 60%}

















.news-box{overflow: auto; padding: 50px 0px;}
.news-box-item{float: left; width: 25%; box-sizing: border-box; padding: 20px}
.news-box-item span{font-size: 12pt; line-height: 16pt; margin-bottom: 10px; color: #b5b5b5; text-decoration: none; display: block; font-family: calibri, arial;}
.news-box-item a{font-size: 20pt; line-height: 22pt; margin-bottom: 15px; color: #000; text-decoration: none; display: block; font-family: calibri, arial;}
.news-box-item a:hover{text-decoration: underline}
.news-box-item i{font-style: normal; font-size: 14pt; line-height: 16pt; font-family: calibri, arial; color: #777}
.news-box-more{text-align: center; clear: both}
.news-box-more a{
    display: inline-block; font-size: 14pt; line-height: 20pt; color: #d8272f; text-decoration: underline; font-family: calibri, arial;
    font-style: italic; margin-top: 20px;
}













.contact-items{text-align: center}
.contact-item{display: inline-block; width: 250px; vertical-align: top; text-align: left; padding: 20px; margin-bottom: 20px; box-sizing: border-box}
.contact-item h3{border-bottom: 2px solid #d8272f; font-size: 16pt; padding-bottom: 10px; margin-bottom: 20px}
.contact-item li{display: block; text-align: left}

.cbu-more-bttn{text-align: center; margin-bottom: 40px}
.cbu-more-bttn a{
    display: inline-block; border: 2px solid #d8272f; padding: 15px 25px;
    font-size: 14pt; color: #222;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.cbu-more-bttn a:focus,
.cbu-more-bttn a:active,
.cbu-more-bttn a:hover{text-decoration: none; color: #d8272f}

.add-files-box{border-left: 10px solid #d8272f; padding-left: 30px; padding-top: 10px; padding-bottom: 5px;}
.add-files-item{margin-bottom: 10px; display: block !important;}
.add-files-item a{color: #222; font-size: 14pt; text-decoration: underline;}
.add-files-item a:hover{color: #d8272f}

.contacts-reg-title{
    text-align: center; text-transform: uppercase; font-size: 14pt; color: #dedede;
    top: -10px; position: relative; background-color: #fff; display: inline-block;
    background-color: #fff; padding: 0px 30px
}

.orderOnlineBttn{text-align: center}
.orderOnlineBttn a{
    display: inline-block; vertical-align: top; padding: 20px 40px; text-align: center;
    background-color: #d8272f; color: #fff; font-size: 14pt;
    -webkit-box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.orderOnlineBttn a:focus,
.orderOnlineBttn a:active,
.orderOnlineBttn a:hover{text-decoration: none; color: #fff; background-color: #444}


.korpo-kredits-box{display: block; overflow: auto; margin-bottom: 25px}
.korpo-kredit{
    display: table; float: left; height: 140px; width: 25%; box-sizing: border-box; padding: 5px;
}

a.bttn-def-yellow{
    background-color: #ffd83c;
    padding: 20px 40px 18px 40px;
    display: inline-block;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    font: bold 12pt/16pt arial;
    text-decoration: none;
    text-transform: uppercase;
    color: #675200;
    text-align: center;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.24);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.bttn-def-yellow:focus,
a.bttn-def-yellow:active,
a.bttn-def-yellow:hover{
    text-decoration: none; color: #675200;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.24);
}


.def-bttn-yellow{text-align: center}
.def-bttn-yellow a{
    background-color: #ffd83c;
    padding: 20px 40px 18px 40px;
    display: inline-block;
    clear: both;
    box-sizing: border-box;
    font: bold 14pt/18pt arial;
    text-decoration: none;
    text-transform: uppercase;
    color: #675200;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.def-bttn-yellow a:focus,
.def-bttn-yellow a:active,
.def-bttn-yellow a:hover{
    text-decoration: none; color: #675200;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.24);
}


.korpo-kredit a{
    display: table-cell; vertical-align: middle; text-align: center; border: 1px solid #d8272f; background-color: #d8272f;
    color: #fff; text-align: center; width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.korpo-kredit a:active,
.korpo-kredit a:focus,
.korpo-kredit a:hover{
    border: 1px solid #ffd83c;
    background-color: #ffd83c; text-decoration: none;
    color: #675200;
    -webkit-box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
}
.korpo-kredit span{
    vertical-align: middle; display: inline-block; border-top: 2px solid #fff; border-bottom: 2px solid #fff;
    height: auto; font-size: 16pt; line-height: 14pt; padding: 20px 0px;
}





.decTbl th{padding: 10px; border: 0px solid #ededed; border: 1px solid #dedede; border-bottom: 1px solid #dedede; padding-bottom: 20px; padding-top: 25px;}
.decTbl th h3{font: bold 12pt/14pt arial; text-align: center; text-transform: uppercase;}
.decTbl td{text-align: left;}
.tefTblTrTitle{background-color: #f2f2f2; width: 150px !important}
.decTbl b.price{
    background-color1: #fffbea; border: 1px solid #e43500; padding: 5px; display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.decTbl{
    margin: 0px auto; box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.creditBnnrBox{background-color: #a7cc56; padding: 7px; box-sizing: border-box; text-align: center; color: #fff; color: #e3efc8}
.creditBnnrBoxPad{box-sizing: border-box; border: 1px solid #cce19c; padding: 15px;}

.creditBnnrTitle h2{text-transform: uppercase}
.creditBnnrBox,
.creditBnnrTitle h2{font: 14pt/20pt arial;}
.creditBnnrBox i{font-style: normal}
.creditBnnrTitle h2,
.creditBnnrBox b{color: #fff; font: bold 16pt/20pt arial;}



.content-list-items-a{text-align: center;}
.content-list-items-a .content-list-item{
    width: 300px; height: 250px; display: inline-block; position: relative; margin: 5px 3px; border: 1px solid #dedede;
    box-sizing: border-box; padding: 20px; vertical-align: top;

    -webkit-box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);
    box-shadow: 1px 7px 16px -6px rgba(0,0,0,0.3);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.content-list-items-a .content-list-item span{display: table; height: 210px; width: 100%;}
.content-list-items-a .content-list-item span a{font-size: 15pt; display: table-cell; vertical-align: middle; color: #222}
.content-list-items-a .content-list-item span a:hover{text-decoration: underline}
.content-list-item-more a{color: #000; text-decoration: underline}


.content-list-items-b{text-align: center;}
.content-list-items-b .content-list-item{
    display: inline-block; position: relative; width: 100%; border: 0px solid #dedede;
    box-sizing: border-box; padding: 25px; vertical-align: top; margin-bottom: 20px; text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.content-list-items-b .content-list-item:nth-child(2n) {background: #f7f7f7;}

.content-list-item-title{margin-bottom: 10px}
.content-list-item-title a{font-size: 14pt; color: #d8272f; font-weight: bold;}
.content-list-item-notice{margin-bottom: 10px; font-size: 12pt; line-height: 20pt}
.content-list-item-more a{color: #000; text-decoration: underline}
.content-list-item-more a:focus,
.content-list-item-more a:active,
.content-list-item-more a:hover{}





.bttn-yellow{
    background-color: #ffd83c; padding: 20px 40px 17px 40px; display: inline-block;
    font: bold 12pt/16pt arial; text-decoration: none; text-transform: uppercase; color: #675200;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.24);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bttn-yellow:focus,
.bttn-yellow:active,
.bttn-yellow:hover{
    color: #675200; text-decoration: none;
    -webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.45);
}



.ib-contacts{
    border: 2px solid #d8272f; padding: 30px 40px; box-sizing: border-box; margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.ib-contacts h3{font-size: 14pt; font-weight: bold}
.ib-contacts-info-line{}
.ib-contacts-info-line li{font-size: 12pt; margin-bottom: 5px}
.ib-contacts-info-line li i{font-style: normal}
.ib-contacts-info-line li a{color: #222}
.ib-contacts-links{}
.ib-contacts-links li{font-size: 12pt; margin-bottom: 5px}
.ib-contacts-links li a{text-decoration: underline}
.ib-contacts-links li a:hover{text-decoration: none}
























.addUserMssg{text-align: center; padding: 20px;}
.addUserMssg a{
    text-align: center; font-size: 12pt; line-height: 16pt; display: inline-block; color: #333; border: 1px solid #ededed;
    margin-bottom: 20px; padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.addUserMssg a:hover{color: #d9272e}







.formLabel{font-weight: normal; margin-left: 5px; margin-right: 10px; font-size: 14pt}
















#bigpreloader{
    position: fixed; width: 100%; height: 100vh; background-color: #fff; z-index: 7000; display: none; top: 0px; left: 0px;
    background-image: url("../../img/preloaders/1.gif"); background-repeat: no-repeat; background-position: center;
    opacity:0.4;
}























.cap-box-show .contacts-block{background-color: #f7f7f7; border-bottom: 1px solid #dedede}
.cap-box-show .contacts-block span{color: #333}
.cap-box-show .contacts-block b{color: #333}







.extranews-box{padding-top: 30px}
.extranews-box a{
    display: block; padding: 10px 20px; border: 2px solid #00a7d0; text-align: center; font-size: 16pt; color: #333;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}






.mbox-c{overflow: auto; margin-bottom: 30px; padding-top: 50px; border-top: 1px solid #dedede;}
.mbox-c-l,
.mbox-c-r{float: left}

.mbox-c-l{width: 40%;}
.mbox-c-r{width: 60%;}

.mbox-c-r h2,
.mbox-c-l h2{margin: 0px; margin-bottom: 30px; color: #00a7d0; font-size: 18pt; font-weight: bold}

.mbox-c-l{box-sizing: border-box; padding-left: 50px}

.telegram-box{
    margin-top: 5px;
    font-size: 14pt; text-align: center;
    background-image: url("../img/logos/telegram.png"); background-size: 40px; background-repeat: no-repeat; background-position: 10px 10px;
    padding: 50px; border: 2px solid #00a7d0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.telegram-box a{background-color: #ededed; color: #222; display: block; padding: 10px 20px; text-align: center}
.telegram-box a:hover{background-color: #00a7d0; text-decoration: none; color: #fff}


.deful li{
    display: list-item;
    margin-top: 10px;
    font-size: 14pt;
    line-height: 16pt;
    list-style-type: none;
    color: #222;
    font-weight: normal;
    text-indent: 0px;
    list-style-position: outside;
    text-align: left;
    font-weight: bold;
    background-image: url("../img/icons/check-black.png");
    background-repeat: no-repeat;
    enable-background: 0px 0px;
    background-size: 25px;
    padding-left: 37px;
    min-height: 30px;
}

.mbox-d{padding-top: 30px; border-top: 1px solid #ededed; margin-bottom: 50px}


.partners-box{text-align: center; overflow: auto; margin-bottom: 50px; box-sizing: border-box; padding: 0px 30px}
.partners-box li{
    display: inline-block; width: 150px; margin: 7px; background-color: #f7f7f7; padding: 30px; box-sizing: border-box;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.partners-box li img{display: block; max-width: 100%;}



.beforeafter-box{width: 500px; float: left; padding-right: 30px; box-sizing: border-box}


.dostavka-box{max-width: 700px; margin: 0px auto}
.dostavka-box .form-items{width: 100%}
.dostavka-box .form-items h2{padding-top: 0px; margin-top: 0px; margin-bottom: 30px}













*/