.main-media-wrapper{position: relative;}
.swiper-wrapper{overflow: hidden}
.swiper-slide{height: 600px; overflow: hidden; position: relative;}
.swiper-slide div{
    background-color: #000;
    display: table; width: 5000px; height: 5000px; left: 50%; top: 50%; margin-left: -2500px; margin-top: -2500px; position: absolute;
}
.swiper-slide div span{display: table-cell; vertical-align: middle; width: 100%;}
.swiper-slide div span img{display: block; margin: 0px auto; opacity: 0.5;}

.main-media-info-box .fix{margin: 0px auto}
.main-media-info-box{height: 600px; margin-top: -600px; width: 100%; display: table; z-index: 100;}
.main-media-info-box div{display: table-cell; vertical-align: middle; z-index: 100; position: relative; width: 100%;}
.main-media-info-box h2{
    margin-top: 0px; margin-bottom: 0px; text-align: center; color: #fff; font-size: 45pt;
    font-weight: 100; line-height: 50pt; margin-bottom: 30px; padding: 0px 5%;
}
.main-media-info-box ul{margin-top: 0px; margin-bottom: 0px; text-align: center; padding: 0px 5%}
.main-media-info-box li{display: inline-block;}
.main-media-info-box li a{
    background-repeat: no-repeat;
    display: block; padding: 25px 45px; margin: 3px; font-size: 14pt; color: #fff; padding-left: 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main-media-info-box li a:active,
.main-media-info-box li a:focus,
.main-media-info-box li a:hover{color: #fff; text-decoration: none;}

.main-media-info-box li.main-media-facebook a{background-color: #4a6bb2; background-image: url("../../../img/icons/smm-facebook.png"); background-size: 10px; background-position: 25px center}
.main-media-info-box li.main-media-vk a{background-color: #4a89ce; background-image: url("../../../img/icons/smm-vk.png"); background-size: 20px; background-position: 25px center; padding-left: 60px}
.main-media-info-box li.main-media-telegram a{background-color: #2fade6;  background-image: url("../../../img/icons/smm-telegram.png"); background-size: 45px; background-position: 25px center; padding-left: 85px}
.main-media-info-box li.main-media-viber a{background-color: #301e5e;  background-image: url("../../../img/icons/smm-viber.svg"); background-size: 35px; background-position: 45px center; width: 200px; padding-left: 80px}
.main-media-info-box li.main-media-google a{background-color: #c54754;  background-image: url("../../../img/icons/smm-google.png"); background-size: 25px; background-position: 25px center; padding-left: 60px}

.main-media-telegram-txt{text-align: center; padding: 0px; color: #fff; font-size: 12pt; display: block; max-width: 60%; display: block}
.main-media-telegram-txt a{color: #2fade6}
.main-media-telegram-txt a:focus,
.main-media-telegram-txt a:active,
.main-media-telegram-txt a:hover{text-decoration: underline; color: #fff}


/*
#media-wrapper{background-color: #f1f1f1; position: relative}
#media-wrapper,
#media-box{height: 750px}

.media-box-info{
    height: 300px; position: absolute; width: 50%; top: 50%; margin-top: -170px; display: table;
    box-sizing: border-box; padding-left: 10%; padding-top: 100px;
}
.media-box-info h2{
    display: table-cell; vertical-align: middle; color: #fff; font-weight: normal;
    text-align: right; font-size: 40pt; line-height: 44pt; text-transform: uppercase;
}

.media-box-more{
    height: 83px; position: absolute; bottom: 0px; display: block; width: 100%;
}
.media-box-more b{width: 50%; display: block; height: 90px; text-align: right}
.media-wrapper1 .media-box-more a{
    display: inline-block; background-color: #007aff; height: 50px; padding: 0px 60px;
    line-height: 50px; text-decoration: none; text-transform: uppercase;
    color: #fff; font-size: 16pt; top: 20px; position: relative; margin: 0px auto;
}
.media-wrapper1 .media-box-more a:hover{
    background-color: #0068da;
}

.swiper-slide-item{background-color: #f1f1f1}

.media-wrapper1{}
.media-wrapper1 .media-box-more{background-color: transparent}
.media-wrapper1 .media-box-info h2{color: #58532f}
.media-wrapper-img1{position: absolute; bottom: 10px; left: 10%; width: 450px; display: none}
.media-wrapper-img1 img{display: block; height: 100%; margin: 0px auto; display: block}
.media-wrapper-img1 .media-box-more{background-color: #b5b5b5}
.media-wrapper-img1-active{width: 500px; left: 15%}
.media-wrapper-img1-active img{
    -ms-transform: rotate(-35deg); !* IE 9 *!
    -webkit-transform: rotate(-35deg); !* Chrome, Safari, Opera *!
    transform: rotate(-35deg);
}


.media-wrapper2{}
.media-wrapper2 .media-box-info h2{color: #58532f}
.media-wrapper-img2{height: 100%; position: relative; display: block}
.media-wrapper-img2 img{height: 100%; margin: 0px auto; display: block}

.media-wrapper2 .media-box-more a{
    font-size: 19pt; line-height: 40px; font-weight: bold; color: #009846; text-decoration: none; background-image: url("/../img/icons/more.svg");
    background-size: auto 100%; background-repeat: no-repeat; background-position: right; padding-right: 50px; display: inline-block;
    text-decoration: none; text-transform: uppercase; height: 40px; box-sizing: border-box; padding-left: 80px; font-weight: bold;
}
.media-wrapper2 .media-box-more a:hover{color: #222}
.media-wrapper2 .media-box-more{width: 55%; margin-left: 45%; text-align: left; height: 60px}


.main-media-item-info2{
    height: 700px; text-align: center; display: table; position: absolute;
    box-sizing: border-box; padding: 80px 0px 0px 0px; width: 100%; z-index: 10;
}
.main-media-item-info2 span{display: table-cell; vertical-align: middle}
.main-media-item-info2 h2{margin: 0px 0px 10px 0px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 100; font-size: 55pt; line-height: 60pt}
.main-media-item-info2 i{font: 18pt/22pt arial; display: block; margin: 0px 0px 20px 0px; color: #fff}
.main-media-item-info2 ul{text-align: center; padding: 15px 0px 10px 0px}
.main-media-item-info2 li{
    display: inline-block; color: #fff; font-size: 14pt; padding: 10px 20px 10px 40px;
    background-image: url("../../../img/icons/check.png"); background-size: 30px; background-repeat: no-repeat; background-position: center left;
}
.main-media-item-info2 h2{margin-bottom: 20px;}
.main-media-item-info2 strong{
    color: #fff; border: 2px solid #fff; padding: 15px 40px; font-size: 16pt; margin-bottom: 0px;
    font-weight: normal; display: inline-block;

}



.main-media-item-info3 ul{text-align: center; padding: 0px 0px 10px 0px}
.main-media-item-info3 li{
    display: inline-block; color: #fff; font-size: 14pt; padding: 10px 20px 10px 40px;
    background-image: url("../../../img/icons/check.png"); background-size: 30px; background-repeat: no-repeat; background-position: center left;
}


.main-media-item-info7{
    height: 700px; text-align: center; display: table; position: absolute;
    box-sizing: border-box; padding: 80px 0px 0px 0px; width: 100%; z-index: 10;
}
.main-media-item-info7 span{display: table-cell; vertical-align: middle}
.main-media-item-info7 h2{margin: 0px 0px 10px 0px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 100; font-size: 55pt; line-height: 60pt}
.main-media-item-info7 i{font: 18pt/22pt arial; display: block; margin: 0px 0px 20px 0px; color: #fff}
.main-media-item-info7 ul{text-align: center; padding: 0px 0px 10px 0px}
.main-media-item-info7 li{
    display: inline-block; color: #fff; font-size: 14pt; padding: 10px 20px 10px 40px;
    background-image: url("../../../img/icons/check.png"); background-size: 30px; background-repeat: no-repeat; background-position: center left;
}
.main-media-item-info7 h2{margin-bottom: 0px;}
.main-media-item-info7 strong{
    color: #fff; padding: 15px 40px; font-size: 22pt; margin-bottom: 0px;
    font-weight: normal; display: block;

}*/
