.mainMenu{position: absolute; right: 0px;}
.mainMenu li{display: inline-block; vertical-align: top}
.mainMenu li.item-phone{margin-left: 10px; height: 66px; position: relative; top: 14px}




.aaa-box button,
.aaa-box a.aaa-menu-item-name{color: #333; text-decoration: none; position: relative}
.aaa-box a.aaa-menu-item-name{
    border: 1px solid #ededed; padding: 11px 50px; display: block; padding-left: 70px;
    background-image: url("../../../img/icons/lock.svg"); background-size: 18px; font-size: 11pt;
    background-position: 47px 12px; background-repeat: no-repeat; height: 43px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.aaa-menu-item-name span{display: block}

.aaa-box button:active,
.aaa-box button:focus,
.aaa-box button:hover{text-decoration: none}
.aaa-box a.aaa-menu-item-name:active,
.aaa-box a.aaa-menu-item-name:focus,
.aaa-box a.aaa-menu-item-name:hover{text-decoration: none; border: 1px solid #dedede;}

.aaa-box{position: relative; display: inline-block; height: 40px; width: auto}
.aaa-box ul{margin: 0px; padding: 0px; overflow: auto}
.aaa-box li{display: block; float: right;}

.aaa-box-wrapper{position: absolute; right: 0px; top: 24px; z-index: 1000}


#mainMobMenu{
    display: none; left: 0; top: 0px; width: 100%; background: #333;
    z-index: 2; text-align: center; -webkit-backface-visibility: hidden; backface-visibility: hidden; overflow: auto;
    padding-top: 0px; position: absolute; z-index: 10000;
    height: 100vh;
}
.mainMobMenuBox{padding: 50px; position: relative}
.mob-menu-main{padding: 30px 0px}
.mob-menu-main-item{text-align: left; display: block; margin-bottom: 2px}
.mob-menu-main-item a{
    font-size: 16pt; line-height: 20pt; text-transform: uppercase; text-align: center; color: #fff; text-decoration: none; padding: 10px 10px; display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mob-menu-main-item a:focus,
.mob-menu-main-item a:active,
.mob-menu-main-item a:hover{background-color: #fff; text-decoration: none; color: #222}

.mob-menu-plus-item{text-align: left; display: block}
.mob-menu-plus-item a{font-size: 18pt; line-height: 20pt; text-align: center; color: #fff; text-decoration: none; padding: 10px 0px; display: block;}
.mob-menu-plus-item a:focus,
.mob-menu-plus-item a:active,
.mob-menu-plus-item a:hover{color: #fff; text-decoration: underline}

.item-mob-menu-bttn{display: inline-block; position: relative; margin-left: 10px; display: none; vertical-align: top; height: 44px;}
.item-mob-menu-bttn a{
    display: block; width: 40px; height: 44px; vertical-align: middle; background-image: url("../../../img/icons/menu.svg");
    background-repeat: no-repeat; background-position: 0px -39px; background-size: 40px; position: relative;
}
.mob-close{
    width: 40px; height: 40px; color: #fff; text-decoration: none;
    background-image: url("../../../img/icons/close.svg"); background-size: 50%; background-position: center; background-repeat: no-repeat;
    display: block; position: absolute; top: 20px; right: 20px; line-height: 40px; font-size: 20pt;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}


.mainMenu{width: 100%; text-align: center; height: 40px; margin-top: 25px}
.mainMenu .item a{
    font-weight: 600; color: #333; font-size: 12pt; line-height: 40px; padding: 0px 15px; height: 40px; box-sizing: border-box;
    display: block; text-transform: uppercase; border-right: 1px solid #ededed;
}
.mainMenu .item:nth-child(5) a{border-right: 1px solid #fff;}
.mainMenu .item a:active,
.mainMenu .item a:focus,
.mainMenu .item a:hover{
    text-decoration: none; color: #00a7d0;
}


.aaa-menu-item-name-box{}
.aaa-sub-menu-wrapper{padding-top: 20px; display: none; right: 10px; z-index: 1000; position: absolute}
.aaa-sub-menu{
    background-color: #f1f1f1; padding: 0px; width: 100%; text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.aaa-sub-menu-items{padding-top: 10px}
.aaa-sub-menu-item a{
    padding: 10px; display: block; padding: 8px 20px; border-top: 1px solid #dedede; font-size: 10pt; line-height: 12pt;
    color: #000; text-decoration: none;
}
.aaa-sub-menu-item a:hover{background-color: #ededed; text-decoration: none; color: #000}

.aaa-sub-menu-item button{
    padding: 0px; display: block; width: 100%; background-color: #dedede; padding: 5px 20px; font-size: 10pt; line-height: 12pt;
    margin-bottom: -1px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.aaa-sub-menu-item button:hover{background-color: #db4437; color: #fff;}



.xls-file{text-align: center;}
.xls-file a{
    background-image: url("../../../img/icons/xls.svg"); background-size: 40px; background-position: left; background-repeat: no-repeat;
    display: inline-block; height: 40px; line-height: 23px; padding-left: 50px; box-sizing: border-box;
}

/*
.sub-menu-wrapper,
.item-sub-menu-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.1); background-color: #f5f5f5; box-sizing: border-box; position: absolute;
    -webkit-box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.48);
    box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.48);
}

.sub-menu-wrapper .fix,
.item-sub-menu-wrapper .fix{padding: 20px}

.cap-box-show .item-def .item-arrow{top: 74px; border-bottom-color: #0f9e60;}
.cap-box-hide .item-def .item-arrow{top: 74px; border-bottom-color: #fff;}
.show-sub-menu .item-arrow{display: block}
.hide-sub-menu .item-arrow{display: none}

.sub-menu-wrapper{width: 100%; border-left: 0px; border-right: 0px; display: none}
.cap-box-show .sub-menu-wrapper{top: 80px; border-top: 5px solid #d8272f; }
.cap-box-hide .sub-menu-wrapper{top: 110px; border-top: 5px solid #fff;}

.item-def .item-sub-menu-wrapper{width: 100%; left: 0px}
.item-phone .item-sub-menu-wrapper{text-align: left; display: none; width: 220px; padding: 20px; right: 0px;}
.cap-box-show .item-sub-menu-wrapper{top: 66px; border-top: 1px solid #b5b5b5}
.cap-box-hide .item-sub-menu-wrapper{top: 66px;}
.item-phone .addr-links{padding-top: 10px}
.item-phone .addr-links a{display: block; font-size: 12pt; color: #d8272d; text-decoration: none}
.item-phone .addr-links a:hover{text-decoration: underline}

.sub-menu-phones h3{font-weight: normal; font-size: 14pt; padding-bottom: 5px; margin: 0px; margin-bottom: 5px; color: #888;}
.sub-menu-time-work{padding-top: 5px; color: #888;}


.sub-menu-phones a{color: #222; font-weight: bold; text-decoration: none}
.sub-menu-phones a:hover{text-decoration: underline}






li.sub-menu-title a,
li.sub-menu-title b{font-weight: bold; text-transform: uppercase;}

.sub-menu-box{margin-bottom: 20px; width: 100%; position: relative; text-align: center}
.sub-menu-box ul{padding: 10px 15px; box-sizing: border-box}

.sub-menu-box li{display: block; margin-bottom: 7px}
.sub-menu-box li a{color: #333; text-decoration: none; font-size: 12pt; line-height: 11pt}
.sub-menu-box li a:hover{text-decoration: underline}

li.sub-menu-title{margin-bottom: 15px; display: block; font-size: 12pt}
li.sub-menu-title a:hover{text-decoration: underline}

.sub-menu-box{overflow: auto}

.sub-menu-card{
    background-size: 75px; background-repeat: no-repeat; display: table !important;
    background-position: left center; padding-left: 90px; box-sizing: border-box; height: 50px;
}



/*1*/

/*.sub-menu1-col{float: left; width: 25%; text-align: left; box-sizing: border-box}
.sub-menu-cards .sub-menu-card1{background-image: url("../../../img/cliparts/cards/1.png");}
.sub-menu-cards .sub-menu-card2{background-image: url("../../../img/cliparts/cards/2.png");}
.sub-menu-cards .sub-menu-card3{background-image: url("../../../img/cliparts/cards/3.png");}
.sub-menu-cards .sub-menu-card4{background-image: url("../../../img/cliparts/cards/4.png");}
.sub-menu-cards .sub-menu-card5{background-image: url("../../../img/cliparts/cards/5.png");}
.sub-menu-card span{display: table-cell; vertical-align: middle}*/

/*2*/
/*.sub-menu2-col{float: left; width: 21%; text-align: left; box-sizing: border-box}
.sub-menu-card span{display: table-cell; vertical-align: middle}
.sub-menu2-co4{width: 37%}
.sub-menu2-col .sub-menu-cb a,
.sub-menu2-col .sub-menu-ib a{
    background-color: #ffd83c;
    padding: 20px 30px 17px 30px;
    display: block;
    font: bold 12pt/16pt arial;
    text-decoration: none;
    text-transform: uppercase;
    color: #675200;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sub-menu2-col-bnnr a{display: block; box-sizing: border-box}
.sub-menu2-col-bnnr img{display: block; max-width: 100%}
.sub-menu2-col-bnnr .bnnrx-info-title a{width: 100% !important;}*/

/*3*/
/*.sub-menu3-col{float: left; width: 25%; text-align: left; box-sizing: border-box}
.sub-menu-card span{display: table-cell; vertical-align: middle}*/

/*4*/
/*
.sub-menu4-col{box-sizing: border-box; display: inline-block; text-align: center}
.sub-menu4-col1,
.sub-menu4-col2{text-align: left; box-sizing: border-box; vertical-align: top;}

.sub-menu-box .sub-menu4-col1 a{margin-bottom: 5px}
.sub-menu-box .sub-menu4-col2 a{
    background-color: #d8272f; padding: 7px 20px; color: #fff; text-decoration: none; margin-bottom: 0px;
    display: inline-block; padding-bottom: 9px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}











.showMobMenu{display: block !important}
.hideMobMenu{display: none !important}




.mainMenu li.item-phone a.item-phone-wrapper{
    color: #333;
    padding-right: 30px !important
}
.phone-arrow{
    width: 0;
    height: 0; position: absolute; right: 11px;
    border: 6px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #b5b5b5;
    border-bottom: 0px;
}
.cap-box-hide .phone-arrow{top: 15px;}
.cap-box-show .phone-arrow{top: 30px;}




.mainMenu li.item-phone a.item-phone-wrapper{
    background-color: #fff; padding: 5px 20px;
    border: 2px solid #fff; text-decoration: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}



.cap-box-hide .mainMenu{top: 30px}
.cap-box-show .mainMenu{top: 0px}

.cap-box-hide .mainMenu li a.item-def-a{font-size: 16pt; font-weight: normal; line-height: 68pt; height: 80px;}
.cap-box-hide .mainMenu li.item-def a{padding: 0px 15px; display: block; color: #fff; text-decoration: none; text-transform: uppercase;  }
.cap-box-hide .mainMenu li.item-def a:hover{}

.item-def{position: relative;}
.item-def .item-arrow{
    width: 0;
    height: 0; position: absolute; top: 15px; right: 11px;
    border: 6px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: 0px; left: 50%; margin-left: -7px;
    position: absolute; display: none;
}

.cap-box-show .mainMenu li a.item-def-a{font: 14pt/65pt calibri, arial; height: 80px;}
.cap-box-show .mainMenu li a.item-def-a:hover{background-color: #f7f7f7}
.cap-box-show .mainMenu li.item-def a.item-def-a{
    padding: 0px 10px; display: block; color: #333; text-decoration: none; text-transform: uppercase;
    box-sizing: border-box; border-bottom: 7px solid transparent; font-weight: bold;
}
.cap-box-show .mainMenu li a.item-def-a:hover{}
.cap-box-show .mainMenu li.item-catalog a.item-def-a{color: red}
.cap-box-show .mainMenu li.item-basket a.item-def-a{background-color: #ededed; padding: 0px 20px}
.cap-box-show .mainMenu li.item-basket a.item-def-a:hover{background-color: #f5f5f5}

.cap-box-show .mainMenu .item-phone a.item-phone-wrapper{border: 2px solid #d8272f; color: #fff; top: 14px; position: relative}
.cap-box-show .mainMenu .item-phone a.item-phone-wrapper,
.cap-box-show .mainMenu .item-phone a.item-phone-wrapper{color: #333; font: 14pt/16pt calibri, arial;}
.cap-box-show .mainMenu .item-phone a.item-phone-wrapper{color: #333}

.cap-box-show .mainMenu .item-mob-menu-bttn,
.cap-box-show .mainMenu .item-mob-menu-bttn a{position: relative; background-position: 0px -51px;}
.cap-box-show .mainMenu .item-mob-menu-bttn{top: 11px;}

.mainMenu .item-mob-menu-bttn a{margin-left: 15px;}



.sub-menu2-bnnrx img{display: block; max-width: 100%}



.sub-menu-box li.sub-menu-online-order a{
    background-color: #d8272f; padding: 10px 20px; padding-bottom: 11px; display: inline-block; color: #fff; line-height: 14pt;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sub-menu-box li.sub-menu-online-order a:hover{text-decoration: none}






*/