@media screen and (max-width: 3840px) {

}

/* Планшеты */
@media screen and (max-width: 1680px) {



}


/* Планшеты */
@media screen and (max-width: 1280px) {

    .search-box{width: calc(100% - 400px); left: 170px}


}


/* Планшеты */
@media screen and (max-width: 1024px){


}

/* Планшеты */
@media screen and (max-width: 640px){


}

/* Планшеты */
@media screen and (max-width: 480px){


}


/* Планшеты */
@media screen and (max-width: 370px){









}