.search-box{text-align: center; width: 100%; position: relative; margin-bottom: 15px; z-index: 1000}
.search-box input{
    display: inline-block; border: 1px solid #dedede; padding: 10px 20px; text-align: left; width: 100%;
    background-image: url("../../../img/icons/search.png"); background-size: 30px; background-position: right center; background-repeat: no-repeat;
    padding-right: 40px; box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#searchgoods-box{
    position: absolute; top: 50px; background-color: #333; width: 100%; padding: 20px; z-index: 100; color: #fff; display: none;
    margin-bottom: 20px; padding-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pricelist-subitem{text-align: left; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #555; position: relative}
.pricelist-subitem-title{font-size: 11pt; margin-bottom: 0px; line-height: 16pt; padding-right: 150px; box-sizing: border-box}
.pricelist-subitem-title a{color: #fff; text-decoration: none}
.pricelist-subitem-title a:active,
.pricelist-subitem-title a:focus,
.pricelist-subitem-title a:hover{text-decoration: underline; color: #fff}
.pricelist-subitem-notice{font-size: 11pt; margin-bottom: 0px; line-height: 15pt; color: #dedede; display: none}
.pricelist-subitem-price{font-size: 11pt; line-height: 20pt; color: #fff; position: absolute; right: 50px; top: 0px;}
.pricelist-subitem-bttn{position: absolute; right: 0px; top: 0px; width: 20px;}
.pricelist-subitem-bttn img{display: block; max-width: 100%; margin: 0px auto}



